<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- build:css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./../../source/css/general.css">
    <link rel="stylesheet" href="./../../source/css/material.indigo-pink.min.css">
    <link rel="stylesheet" href="./hello.css">
    <!-- endbuild -->
</head>
<body>

    <h1>Hello World</h1>

    <img src="./../../source/images/logo-vector.svg" alt="" width="150">
    <!-- build:js -->

        <!-- Put here, you script -->
        
    <!-- endbuild -->
</body>
</html>